@model MVCIdentity.Identity.Model.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_LayoutIdentity.cshtml";
}
<div class="mdl-card mdl-card-center mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">Associar sua conta @ViewBag.LoginProvider</h2>
    </div>
    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="mdl-card__supporting-text">
            <div class="mdl-textfield mdl-js-textfield">
                @Html.LabelFor(m => m.Email, new { @class = "mdl-textfield__label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "mdl-textfield__input", @type = "email", required = "" })
                <span class="mdl-textfield__error">E-mail inválido!</span>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border text-right">
            <!-- Accent-colored raised button with ripple -->
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit">
                Registrar <i class="material-icons">arrow_forward</i>
            </button>
        </div>
    }
</div>
