@{
    ViewBag.Title = "Login Failure";
}

<div class="mdl-card mdl-card-center mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
        <h4 class="mdl-card__title-text">Erro <i class="material-icons">warning</i></h4>
    </div>
    <div class="mdl-card__supporting-text">
        <p>
            Erro ao tentar logar com serviço externo!
        </p>
    </div>
</div>
