@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutIdentity.cshtml";
}

<div class="mdl-card mdl-card-center mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
        <h4 class="mdl-card__title-text">Verifica seu email &nbsp;<i class="material-icons">email</i></h4>
    </div>
    <div class="mdl-card__supporting-text">
        <p>
            Por favor verifica seu email para redefinir sua senha.
        </p>
    </div>
</div>