@model MVCIdentity.Identity.Model.ForgotPasswordViewModel
@{
    ViewBag.Title = "Esqueceu a sua senha?";
}

<div class="mdl-card mdl-card-center mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
        <h4 class="mdl-card__title-text">Esqueceu a sua senha?</h4>
    </div>
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="mdl-card__supporting-text">
            <p class="mdl-typography--title" style="margin-bottom: 5px">Informe seu email.</p>
            <div class="mdl-textfield mdl-js-textfield">
                @Html.LabelFor(m => m.Email, new {@class = "mdl-textfield__label"})
                @Html.TextBoxFor(m => m.Email, new {@class = "mdl-textfield__input", @type = "email"})
                <span class="mdl-textfield__error">E-mail inválido!</span>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border text-right">
            <!-- Accent-colored raised button with ripple -->
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                Enviar
            </button>
        </div>
    }
</div>
