@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Conta bloqueada";
}

<div class="mdl-card mdl-card-center mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
        <h4 class="mdl-card__title-text">Conta bloqueada! <i class="material-icons">highlight_off</i></h4>
    </div>
    <div class="mdl-card__supporting-text" style="text-align: justify">
        <p>
           Esta conta foi bloqueada temporariamente. Por favor tente mais tarde para obter acesso!
        </p>
    </div>
</div>