.validation-summary-errors {
    margin: auto;
    width: 400px;
    position: relative;
    top: 120px;
    color: #d50000;
}

.info-summary {
    margin: auto;
    width: 400px;
    position: relative;
    top: 120px;
    color: rgb(0,188,212);
    text-align: center;
}

.validation-summary-errors ul li{
    list-style-type: none;
}

.mdl-card-center {
    margin: auto;
    position: relative;
    top: 110px;
}

.mdl-card__title {
    background-color: rgb(0,188,212);
    color: rgb(66,66,66);
}

.text-right {
    text-align: right;
}

.mdl-login-footer {
    width: 330px;
    margin: auto;
    position: relative;
    top: 115px;
    text-align: center;
}

.icon-external-login:hover {
    cursor: pointer;
}